body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

.accordion {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}

 .accordion-toggle {
    display: none;
 }

 .accordion-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    color: #001F54;
    transition: background 0.3s ease;
 }

 .accordion-label:hover {
    background: #f0f0f0;
 }

 .accordion-label::after {
    content: "\002B";
    font-size: 15px;
    color: #001F54;
    margin-left: 110px;
 }

 .accordion-toggle:checked + .accordion-label::after {
    content: "\2212";
    color: #001F54; 
 }

 .accordion-content {
    max-height: 0;
    overflow: hidden;
    background: #fff;
    padding: 0 15px;
    transition: max-height 0.2s ease, padding 0.3s ease;
 }

 .accordion-toggle:checked ~ .accordion-content {
    max-height: 300px;
    padding: 15px;
 }